# Aliases
# vim: syntax=zsh

alias vi='vim'
alias 'redis.start'='redis-server /usr/local/etc/redis.conf'
alias 'redis.stop'='kill $(cat /usr/local/var/run/redis.pid)'
alias 'postgresql.start'="pg_ctl -D ${HOMEBREW_ROOT}/var/postgres start"
alias 'postgresql.stop'="pg_ctl -D ${HOMEBREW_ROOT}/var/postgres stop -s -m fast"
alias 'postgresql.restart'='postgresql.stop && sleep 1 && postgresql.start'
alias ri='ri -f ansi'
which colordiff &>/dev/null && alias diff='colordiff'

# Some aliases to avoid making mistakes
alias rm='rm -i --preserve-root'
alias cp='cp -i'
alias mv='mv -i'
alias ln='ln -i'
alias chown='chown --preserve-root'
alias chmod='chmod --preserve-root'
alias chgrp='chgrp --preserve-root'

# shortcuts
alias c='clear'
alias x='exit'
alias q='exit'
alias h='history'
alias j='jobs -l'

# Quick HTTP server
alias serve='ruby -run -e httpd . -p 8080'
alias pserve='python -m SimpleHTTPServer'

# Time
alias now='date +"%T"'
alias nowtime='now'
alias nowdate='date +"%d-%m-%Y"'

# Can I haz `timeout` ?
hash gtimeout &>/dev/null && alias timeout='gtimeout'

# Override ls alias from common-aliases plugin
alias ls='ls -G'

# Cuz IMADUMMY
which mysql &>/dev/null && alias mysql='mysql --i-am-a-dummy'

# CAN I HAZ ?
alias please='sudo'

# passing alias to sudo
alias sudo='sudo '

# update tab name
function tabname() {
  echo -en "\033];$1\007"
}

# Automatically Starting tmux on SSH
function ssht() {
  SSH_HOST="${@: -1}"
  tabname "$SSH_HOST"
  ssh "$@" -t 'tmux a || tmux || $SHELL'
}

which compdef &>/dev/null && compdef ssht=ssh

# Reload the shell (i.e. invoke as a login shell)
alias reload="exec $SHELL -l"

# Include custom aliases
[[ -f /usr/bin/sw_vers ]] && source ~/.aliases_osx
[[ -f ~/.aliases.local ]] && source ~/.aliases.local
