[user]
name = Benjamin Dos Santos
email = benjamin.dossantos@gmail.com

[color]
ui = true
branch = auto
diff = auto
interactive = auto
status = auto

[core]
excludesfile = ~/.gitignore_global

[branch]
autosetuprebase = always

[merge]
summary = true

[push]
default = simple

[commit]
template = ~/.gitmessage

[gc]
auto = 1

[credential]
helper = /opt/boxen/bin/boxen-git-credential

[hub]
protocol = https
