.config/*
!.config/nvim/
!.config/k9s/
!.config/k9s/skin.yml
!.config/zellij/
!.config/zellij/config.yaml
!.config/starship.toml
!.config/bash/
!.config/bash/**
.gnupg/*
!.gnupg/gpg.conf
nvim.appimage
