[apply]
# Detect whitespace errors when applying a patch
whitespace = fix

[user]
name = Benjamin Dos Santos
email = benjamin.dossantos@gmail.com
signingkey = ~/.ssh/id_ed25519.pub

[gpg]
format = ssh

[gpg "ssh"]
allowedSignersFile = ~/.ssh/allowed_signers

[color]
ui = true
branch = auto
diff = auto
interactive = auto
status = auto

[color "branch"]
current = yellow reverse
local = yellow
remote = green

[color "diff"]
meta = yellow bold
frag = magenta bold # line info
old = red # deletions
new = green # additions

[color "status"]
added = yellow
changed = green
untracked = cyan

[color "diff-highlight"]
oldNormal = red bold
oldHighlight = red bold 52
newNormal = green bold
newHighlight = green bold 22

[diff]
# Detect copies as well as renames
renames = copies

[diff "bin"]
# Use `hexdump` to diff binary files
textconv = hexdump -v -C

[core]
excludesfile = ~/.gitignore_global
# Make `git rebase` safer on OS X
# More info: <http://www.git-tower.com/blog/make-git-rebase-safe-on-osx/>
trustctime = false
# Prevent showing files whose names contain non-ASCII symbols as unversioned.
# http://michael-kuehnel.de/git/2014/11/21/git-mac-osx-and-german-umlaute.html
precomposeunicode = false
commitGraph = true

[branch]
autosetuprebase = always

[merge]
summary = true
# Include summaries of merged commits in newly created merge commit messages
log = true

[rebase]
autosquash = true

[push]
default = current
# Make `git push` push relevant annotated tags when pushing branches out.
followTags = true

[commit]
template = ~/.gitmessage
gpgsign = true

[tag]
gpgsign = true

[gc]
auto = 1
writeCommitGraph = true

[credential]
helper = osxkeychain

[pager]
diff = diff-so-fancy | less --tabs=4 -RFX
show = diff-so-fancy | less --tabs=4 -RFX

[hub]
protocol = https

[pull]
rebase = true

[fetch]
writeCommitGraph = true

[log]
follow = true

[includeIf "gitdir:~/Code/work/"]
path = ~/Code/work/.gitconfig
