[apply]
# Detect whitespace errors when applying a patch
whitespace = fix

[user]
name = Benjamin Dos Santos
email = benjamin.dossantos@gmail.com

[color]
ui = true
branch = auto
diff = auto
interactive = auto
status = auto

[color "branch"]
current = yellow reverse
local = yellow
remote = green

[color "diff"]
meta = yellow bold
frag = magenta bold # line info
old = red # deletions
new = green # additions

[color "status"]
added = yellow
changed = green
untracked = cyan

[color "diff-highlight"]
oldNormal = red bold
oldHighlight = red bold 52
newNormal = green bold
newHighlight = green bold 22

[diff]
# Detect copies as well as renames
renames = copies

[diff "bin"]
# Use `hexdump` to diff binary files
textconv = hexdump -v -C

[core]
excludesfile = ~/.gitignore_global
# Make `git rebase` safer on OS X
# More info: <http://www.git-tower.com/blog/make-git-rebase-safe-on-osx/>
trustctime = false
# Prevent showing files whose names contain non-ASCII symbols as unversioned.
# http://michael-kuehnel.de/git/2014/11/21/git-mac-osx-and-german-umlaute.html
precomposeunicode = false

[branch]
autosetuprebase = always

[merge]
summary = true
# Include summaries of merged commits in newly created merge commit messages
log = true

[rebase]
autosquash = true

[push]
default = simple
# Make `git push` push relevant annotated tags when pushing branches out.
followTags = true

[commit]
template = ~/.gitmessage

[gc]
auto = 1

[credential]
helper = /usr/local/bin/git-credential-osxkeychain

[hub]
protocol = https
